<%= div_for movie do %>
<div class="container col-md-12" id="movie_container">
  <div class="row">
    <h2><%= movie.title %></h2>
  </div>
  <div class="row">
    posted by <%= link_to filterable movie.user.name %> <%=time_ago_in_words(movie.created_at)%> ago
  </div>
  <div class="row">
    <%= movie.description %>
  </div>
  <% if user_signed_in? %>
    <div class="row">
	  <div class="col-md-2 ">
	    <div>
	      <%=form_for Vote.new do |f| %>
		    <%= f.button "#{ movie.likes } likes", class:"btn btn-default" %>
		    <%=f.hidden_field  :movie_id ,value: movie.id.to_i %>
		    <%=f.hidden_field  :vote_value ,value: 1 %>
		  <% end %>	
		  <%=form_for Vote.new do |f| %>
		    <%= f.button  "#{ movie.hates } hates", class:"btn btn-default" %>
		    <%=f.hidden_field  :movie_id ,value: movie.id.to_i %>
		    <%=f.hidden_field  :vote_value ,value: 2 %>
		  <% end %>     
		</div>
	  </div>

	  <% if current_user.id == movie.user_id %>
	    <div class="btn-group col-md-4  ">
	      <%=link_to "Delete", movie_path(movie), method: :delete, 
	        confirm: "Are You sure you want to delete your movie?", class:"btn btn-default" %>
	      <%=link_to "Edit", edit_movie_path(movie), class:"btn btn-default" %>              
	    </div>	 	
	  <% elsif movie.likes == 0 && movie.hates == 0 %>
	    <div class="col-md-5 col-md-offset-5">
          Be the first to vote for this movie
        </div>
	  <% end %>	
        
      <!-- find_vote helper method inside application helper module-->
      <div class="col-md-5 col-md-offset-5">
	  <% if find_vote(movie)%>
        <% if @vote.vote_value == 1 %>
          You like this movie
	      <%= link_to "Unlike", find_vote(movie), method: :delete, 
	        confirm: "Are You sure?", class:"btn btn-default" %>
        <% elsif @vote.vote_value == 2 %>
          You hate this movie
          <%= link_to "Unhate", find_vote(movie), method: :delete, 
	        confirm: "Are You sure?", class:"btn btn-default" %>
	    <% end %>
	  <% end %>
	  </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-3">
        <%= "#{ movie.likes } likes "  "#{ movie.hates } hates" %>
      </div>
    </div>		
  <% end %>
</div>
<% end %>
