<div class="container col-md-12">
  <div class="col-md-7 col-md-offset-2 ">
    <h1>MovieRama</h1>
  </div>
  <div class="col-md-2">
  	<% if user_signed_in? %>
      <h4> Welcome back <%=link_to filterable current_user.name%> </h4>
    <% end %>
  </div>
</div>

<div class="container col-md-9 col-md-offset-2">
  <div class="row" id="sort_row">
	<div class="col-md-1">Sort by:</div>
	  <div class="col-md-3">
		<%= sortable "created_at", "Date", @filter %>|
		<%= sortable "likes", "Likes", @filter %>|
		<%= sortable "hates", "Hates", @filter %></br>
	  </div>
  </div>
</div>

<div class="container col-md-7 col-md-offset-2">
  <% if @movies.any? %>
    <%= will_paginate @movies %>
    <%= render @movies %>
  <% end %>
</div>
  	
<% if user_signed_in? %>
  <div class="col-md-2" id="movie">
    <h3><%= link_to "New Movie", new_movie_path %><h3>
  </div>
<% end%>